.grid-container {
  max-width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 20px;
  vertical-align: top;
}
.grid-item {
  width: 100%;
}
.grid-item-left {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}
.grid-item-right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.subHeading {
  padding:0 0 15px 0;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.contact-list {
  padding-right:50px;
}
.contact-list > div {
  margin-bottom: 0; /* Remove bottom margin between contact items */
  padding-bottom: 0; /* Remove bottom padding between contact items */
}

.selected-item {
  background-color: rgb(
    204,
    231,
    240
  ); /* Set the background color for the selected item */
}
