.list-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.list-group-item {
  float: left;
}

.list-group-item label {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
li.list-group-item-img {
  float: right;
  padding-top: 4px;
  padding-right: 10px;
}

.list-group-item label:hover {
  background-color: #111;
}

.list-group-item-img {
  float: right;
}
