
/* New form CSS */
.formColL {
  display: inline-block;
  width: 80%;
  padding-bottom: 45px;
}
.formColR {
  display: inline-block;
  width: 20%;
  vertical-align: bottom
}
.newForm {
  padding: 15px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  box-sizing: border-box;
}

.form-label {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  display: block;
}

.form-input-field {
  width: calc(100% - 32px);
  border: 1px solid #666666;
  padding: 12px 10px;
  resize: none;
  margin-top: 5px;
}
.submitBtn {
  border: 0;
  background: green;
  color: #fff;
  padding: 15px;
  width: 100%;
}

.side-by-side-fields {
  display: flex;
}

.side-by-side-field {
  flex: 1;
}

.error-label {
  color: red;
  font-size: small;
}
